<html>
<div class="quote">
  <span class="left">❝</span>
  <blockquote>
    <%= @quote.quote %>
  </blockquote>
  <small><%= @quote.name %></small>
  <span class="right">❞</span>
</div>

<div class="tweets">
  <p align="center">
  <a
  href="https://twitter.com/share"
  class="twitter-share-button"
  data-text = "<%= @quote.quote %> - <%= @quote.name %>"
  data-size="large"
  data-show-count="false">Tweet
  </a> 
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
  </script>
  <p>
</div>

<body>
  <style>
    body {

    justify-content: center;
  }
  .quote {
    text-align: center;
    font-size: 1rem;
    margin: auto;
    padding: 15px;
    border: 2px solid black;
    max-width: 70%;
    position: relative;
    margin-top: 100px;
  }
  blockquote {
    color: black;
    font-style: italic;
    position: relative;
    z-index: 20;
  }
  .left {
    position: absolute;
    top: -50px;
    left: -20px;
    width: 150px;
    text-align: left;
    z-index: 10;
    font-size: 5rem;
    color: #336699;
    line-height: 200px;
  }
  .right {
    position: absolute;
    bottom: -50px;
    right: -20px;
    width: 150px;
    text-align: right;
    z-index: 10;
    font-size: 5rem;
    color: #336699;
    line-height: 200px;
  }
  small {
    font-size: 1.7rem;
    color: #000000;
    position: relative;
    z-index: 20;
  }
  small:before {
    content: "\2014 \0020";
    width: 5px;
  }

  strong {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  tweets {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  </style>
</body>


<p align="center">
  <strong>Video:</strong>
</p>

<p align="center">
  <video controls width="550" height="320" src="<%= @quote.file %>"></video>
</p>

<p align="center">
  <strong>Genre:</strong>
  <%= @quote.genre %>
</p>


<p align="center">
  <strong>Link:</strong>
  <%= @quote.link %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %>
<%= link_to 'Back', quotes_path %>
</html>
